:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    --fs-paragraph: 15px;

    --ff-base: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1.25;
}

/* General Styling */
body {
    --content-radius: 1rem;
    --content-gap: 1rem;
    
    font-family: var(--ff-base);
    font-size: 15px;
    color: var(--clr-dark-blue);

    display: grid;
    place-content: center;
    min-height: 100vh;

    padding: 2rem;

    background-color: var(--clr-light-gray);
}

.component {
    background: var(--clr-white);
    border-radius: var(--content-radius);
    padding: 1rem;

    display: grid;
    gap: var(--content-gap);
    max-width: 315px;
}

.component-qr img {
    border-radius: var(--content-radius);
}


.component__content {
    display: grid;
    gap: 0.4rem;
    text-align: center;
    padding: 0.5rem;
}

.component__content-description {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-regular);
    line-height: 1.25;
    margin-bottom: .5rem;
}